header {
    height: 80vh;
    padding-top: 7rem;
    overflow: hidden;
}

  
header::after {
    content: "";
    background: url(../../assets/header_bg.jpg);
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.me > img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin: auto;
}

/* ================ Resume ======================*/
.resume {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.resume > a {
    text-decoration: none;
    font-weight: bold;
}

/*==================== HEADER SOCIALS ===================*/
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials > a{
    font-size: 30px;
}

.header__socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.introduction {
    width: 75%;
}

/* ================== MEDIA QUERIES - MEDIUM DEVICES ====================*/
@media screen and (max-width: 1024px) {
    .introduction {
        width: 100%
    }
    
}
/* ================== MEDIA QUERIES - SMALL DEVICES ====================*/
@media screen and (max-width: 600px) {
    .introduction {
        width: 100%;
    }
    
}